$main: #bb70cc;
$light-main: #f6d0ff;

body {
  .navbar-brand {
    color: $main !important;
    font-weight: bold !important
  }

  font-family: SkyTextRegular,Helvetica,Arial,sans-serif;
  div.container {
    margin-top: 60px;
  }
  div.row {
    clear: both;
  }
  div.section {
    dl {
      display:none;
    }
  }
  h1, h2, h3 {
    color: $main;
  }
  .minimised:before {
    float: left;
    color: $main;
    content: "+";
    margin-right: 3px;
  }
  .open:before {
    float: left;
    color: $main;
    content: "-";
    margin-right: 5px;
  }
  dl {
    dt, dd {
      float: left;
    }
    dt {
      font-weight: bold;
      width: 30%;
      clear: left;
    }
    dd {
      width: 30%;
    }
    dt.wide {
        width: 70%;
    }
  }
}

.login {
  min-width: 200px;
  max-width: 400px;
  background-color: $light-main;
  border-radius: 20px;
  padding: 20px 20px 40px 20px;
  margin: 20px auto;
  .input-line {
    display: block;
    padding: 5px;
  }
}
label {
  min-width: 50px;
  text-align: right;
  padding-right: 10px;
}
