div.container-fluid.text-center
  div.login.text-center
    h2
      =I18n.t('cta.login')
    form.form-inline action='/session' method='POST'
      ==csrf.form_tag
      div.form-group.input-line
        label for='username'
          =I18n.t('user.username')
        input.form-control type='text' name='username' placeholder=I18n.t('user.username')
      div.form-group.input-line
        label for='password'
          =I18n.t('user.password')
        input.form-control type='password' name='password' placeholder=I18n.t('user.password')
      div.form-group.input-line
        input.btn.btn-default type='submit' value=I18n.t('action.login')
