nav.navbar.navbar-default.navbar-fixed-top
  div.navbar-header
    a.navbar-brand =I18n.t('welcome')
  div#navbar
    ul.nav.navbar-nav
      li#nav-summary
        / a href='#page-summary' =I18n.t('summary.title')
      li#nav-package
        / a href='#page-package' =I18n.t('package.title')
      li#nav-call-charges
        / a href='#page-call-charges' =I18n.t('call-charges.title')
      li#nav-sky-store
        / a href='#page-sky-store' =I18n.t('sky-store.title')

