doctype html
html
  head
    title Picture Sharing App
    link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'
    link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap-theme.min.css'
    link rel='stylesheet' type='text/css' href='/stylesheets/home.css'
    script type='text/javascript' src='/javascripts/jquery-1.11.2.min.js'
    script type='text/javascript' src='/javascripts/bootstrap.min.js'
    script type='text/javascript' src='/javascripts/home.js'
    ==csrf.meta_tag

  body
    ==content
